:host {
	--fc-page-bg-color: var(--pico-background-color);
	--fc-neutral-bg-color: var(--pico-muted-border-color);
	--fc-neutral-text-color: var(--pico-color);
	--fc-border-color: var(--pico-muted-border-color);

	--fc-button-text-color: var(--pico-secondary-inverse);
	--fc-button-bg-color: var(--pico-secondary-background);
	--fc-button-border-color: var(--fc-button-bg-color);
	--fc-button-hover-bg-color: var(--pico-secondary-hover-background);
	--fc-button-hover-border-color: var(--fc-button-hover-bg-color);
	--fc-button-active-bg-color: var(--fc-button-hover-bg-color);
	--fc-button-active-border-color: var(--fc-button-active-bg-color);

	--fc-event-bg-color: var(--pico-primary-background);
	--fc-event-border-color: var(--fc-event-bg-color);
	--fc-event-text-color: var(--pico-primary-inverse);
	--fc-event-selected-overlay-color: transparent;

	--fc-today-bg-color: var(--pico-secondary-focus);

	--fc-list-event-hover-bg-color: color-mix(
		in lab,
		var(--fc-neutral-bg-color),
		var(--pico-background-color)
	);
}

.fc-h-event:hover {
	--fc-event-bg-color: var(--pico-primary-hover-background);
	--fc-event-border-color: var(--fc-event-bg-color);
}

.fc-daygrid-dot-event:hover {
	background: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

.fc-event:not(.fc-h-event) {
	color: initial;
}

::selection {
	background-color: var(--pico-primary-focus);
}

h2 {
	color: var(--pico-h2-color);
}

.fc .fc-view-harness {
	min-height: 400px;

	&:has(.fc-list) {
		height: auto !important;
		min-height: auto;
	}
}

.fc .fc-view.fc-list {
	position: static;
}

.fc .fc-list .fc-scroller-liquid {
	height: auto;
}

@media (width < 480px) {
	.fc .fc-button.fc-today-button {
		display: none;
	}
}
