name: CI
on:
  - push
  - workflow_dispatch

env:
  FORCE_COLOR: 1

permissions:
  contents: read

jobs:
  lint:
    name: ESLint and Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
      - run: npm ci
      - run: npm run lint

  check:
    name: Svelte Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
      - run: npm ci
      - run: npm run check

  build-and-lighthouse:
    name: Build and Lighthouse
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
      - run: npm ci
      - uses: actions/cache@v5
        with:
          path: node_modules/.cache/imagetools
          key: optimized-images-${{ hashFiles('src/**/*.png', 'src/**/*.jpg', 'src/**/*.webp') }}
          restore-keys: optimized-images-
      - run: npm run build
      - uses: treosh/lighthouse-ci-action@v12
        with:
          configPath: '.lighthouserc.cjs'
          temporaryPublicStorage: true
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
